{% extends "layout.html" %} {% block title %} Dinner Picker {% endblock %} {%
block main %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1>Recipe</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>{{ dish }}</h1>
    </div>
  </div>
  <div class="row justify-content-md-center mx-auto w-auto">
    <form action="/" method="post">
      <button type="submit" class="btn btn-success">Pick Random Dish</button>
    </form>
  </div>

  <div class="row row-cols-2">
    <div class="col">
      <h2>Ingredients</h2>

      <ul class="list-group">
        {% for ingredient in ingredients %}
        <li class="list-group-item">{{ ingredient }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="col">
      <h2>Steps</h2>
      <ol class="list-group list-group-numbered">
        {% for step in method %}
        <li class="list-group-item">{{ step }}</li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endblock %}
